/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .navbar-brand{
        font-size: 35px;
    }   
    .icon-bar {
        font-size: 30px;;
    }
    .i2idisplay{
        font-size: 45px;
    }
    .ethereum{
        font-size: 30px;
        width: 90%;
    }
    .contact-detail{
        font-size:18px;
    }
    .vid{
        width: 95%;
    }
    .desc{
        font-size:18px;
        width: 90%;
    }
    .piccarousel{
        height: 10px;
    }
    .bchain{
        margin-left: 130px;
    }
    .piccarousel{
        height: 21rem;
    }
    .asd{
        font-size: 0px;
    }
    .menu{
        font-size: 40px;
    }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
     .navbar-brand{
        font-size: 35px;
    } 
    .i2idisplay{
        font-size: 45px;
    }
    .ethereum{
        font-size: 30px;
        width: 90%;
    }
    .contact-detail{
        font-size:18px;
    }
    .vid{
        width: 95%;
    }
    .desc{
        font-size:18px;
        width: 90%;
    }
     .bchain{
        margin-left: 130px;
    }
    .piccarousel{
        height: 21rem;
    }
     .menu{
        font-size: 40px;
    }
}
@media only screen and (min-width: 1024px) and (max-height: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) {
    .bchain{
        margin-left: 0px;
       
    }
}
/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
.piccarousel{
    height: 35rem;
}
}
