
html, body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    scroll-behavior: smooth;
}
body{
    font-family: 'Varela', sans-serif;
    font-size: 16px;
    
}
.cover{
    background-attachment: fixed;
    padding: 0 0;
    width: 100%;
    position: relative;
}
.navbar{
    padding: 22px 0px;
    margin-bottom: 0px;
}
.navbar-brand{
    transition: all 0.5s ease-in;
}
.navbar-brand:hover{
    color: #f87832 !important;
}
.navbar ul li a{
    color: white !important;
    letter-spacing: 1px;
    font-size: 14px;
    transition: all 0.5s ease-in;
}
.navbar ul li a:hover{
    color: #f87832 !important;
}

 #video{
         position: absolute;
          top: 50%; 
          left: 50%;
          -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
          min-width: 100%; 
          min-height: 100%; 
          width: auto; 
          height: auto;
          z-index: -1000; 
          overflow: hidden;
}
#i2i{
    background-color:#f87832 ;
    color: #fff !important;
    padding: 10px 10px;
    margin: 20 20;
}
.i2idisplay{
    font-weight: 300;
    line-height: 1.2;
}
.overview{
    padding: 3rem!important;
}
#overview{
    background-color: #b2bec3;
    border-radius: 1rem!important;
    padding: 20px;
    box-shadow: 0 1rem 4rem rgba(0,0,0,.200)!important;
    box-sizing: border-box;
}
.blockchain{
    height: 400px;
    width: 400px;
}
.service-area{
    margin-top: 30px;
}
.service-area p{
   margin-bottom: -5px;
}
.service-wrap {
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    overflow: hidden;
    padding: 25px 35px;
    position: relative;
    transition: all 0.5s ease 0s;
    z-index: 9;
    margin-top: 20px;
    
}
.service-wrap::before, .service-wrap::after {
    content: "";
    height: 300%;
    position: absolute;
    transform: rotate(45deg);
    width: 120%;
    z-index: -9;
    transition: all 0.5s;
    opacity: 0;
    background:#f87832;    
    
}
.service-wrap::before{
    top: -37px;
    left: 100%;  
    
}
.service-wrap:hover:before{    
    left: -27px;
    opacity: 1;
    
}
.service-wrap::after{
     right: 100%;
     bottom: -37px;
    
}
.service-wrap:hover:after{
     right: -27px;
     opacity: 1;
    
}
.service-wrap:hover{
     color: white;    
}
.service-wrap:h3{
     color: white;    
}
.service-wrap:hover h3{
     color: white;    
}
.service-wrap:hover h3:after{
     background-color: white;    
}

.service-icon i{
    font-size: 30px;
    margin-bottom: 20px;
    transition: all 0.5s;
    
}
.service-wrap:hover .service-icon i{
    transform:rotate(360deg);
}
.service-wrap h3{
    font-size: 25px;
    font-weight: 700;
    padding-bottom: 15px;
    position: relative;
    
}
.service-wrap p{
    font-size: 14px;
    margin-bottom: 0;
}
.stat{
    background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ),url(../img/sky.jpg);
    background-attachment: fixed;
    padding-top: 150px;
    padding-bottom: 150px;

    color: #fff;
    font-size: 18px;
    margin-top: 50px;
    
}
.stat-items h2{
    font-weight: bold;
    font-size: 30px;
    color: #f87832;
}
.stat p{
    letter-spacing: 1;
}
.partners{
    background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ),url(../img/partners.jpg);
    background-attachment: fixed;
    background-size: cover;
    padding-top: 125px;
    padding-bottom: 125px;
    color: #fff;
    margin-top: 100px;
}
.part{
    margin-top: 20px;
}
.part{
    margin: 0 15px;
}

.contact-infos{
    float: left;
    width: 100%;
    background:#f87832;
    padding-top: 35px;
    padding-bottom: 35px;
}
.contact-infos .fa{
    color: #fff;
    font-size: 26px;
    border:1px solid white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 50px; 
    transition: all 0.5s ease-in;
}
.contact-infos .fa:hover{
    color:#b2bec3;
}
.contact-infos p{
    color:#fff;
    margin-top: 20px;
}
#contact{
    background:#000;
    padding-top: 5px;
    padding-bottom: 5px;
}
.location{
    
    padding: 15px;
}
hr{
   border-bottom: 3px solid black;
   width: 40px;
}
.map{
 border-radius: 30px;   
}
.menu{
    color: white;
    
}